page-login {
    .height-350 {
        height: 350px !important;
        background-color: #F44336 !important;
    }
    .padding-20 {
        padding-top: 20px;
    }
    .bg-red {
        background-color: #F44336 !important;
    }
}