page-home {
.toolbar-md {
    padding: 4px;
    min-height: 100px;
}
.image-profile {
    width: 100% !important;
    border-radius: 30px !important;
}
.custom-next7day{
        margin-top: -18px !important;
    font-size: 12px !important;
    font-weight: bold !important;
}
.font-black{
    color: black;
}
}
