<!--
  Generated template for the NewprojectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger">
    <ion-title>Newproject</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label stacked color="danger">Name</ion-label>
      <ion-input type="text" [(ngModel)]="newproject.name" color="danger"></ion-input>
    </ion-item>

    <!-- MasterPlan -->
    <ion-item>
      <ion-label stacked color="danger">MasterPlan</ion-label>
      <ion-select [(ngModel)]="newproject.masterplan">
        <ion-option *ngFor="let plan of data.plans" [value]="plan">{{plan.name}}</ion-option>
      </ion-select>
    </ion-item>

    <!-- Parent -->
    <ion-item>
      <ion-label stacked color="danger">Parent</ion-label>
      <ion-select [(ngModel)]="newproject.parent">
        <ion-option *ngFor="let parent of data.parent" value="{{parent.name}}">{{parent.name}}</ion-option>
      </ion-select>
    </ion-item>

    <!-- startdate -->
    <ion-item>
      <ion-label stacked color="danger">StartDate</ion-label>
      <ion-input type="Date" [(ngModel)]="newproject.startdate" color="danger"></ion-input>
    </ion-item>


    <!--Add collaborators  -->
    <ion-item (tap)="collaborators()">
      <ion-label stacked color="danger">Collaborators</ion-label>
      <ion-input type="text" [disabled]="true" [(ngModel)]="detailteacherlist" color="danger"></ion-input>
    </ion-item>
{{tt}}

  </ion-list>
  <ion-row padding>
    <ion-col col-6>
      <button ion-button block outline (click)="save()">Submit</button>
    </ion-col>
    <ion-col col-6>
      <button ion-button block outline (click)="gohome()">Cancel</button>
    </ion-col>
  </ion-row>
</ion-content>